/* About section */

.about {
  background-color: black;
  padding: 40px 0;
}

.about-item {
  color: rgb(30, 255, 0);
  width: 25%;
  min-width: 250px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main {
  font-size: 40px;
  margin-top: 10px;
  border-radius: 50%;
}

.about-item__heading {
  font-size: 20px;
  border-bottom: 1px solid rgb(30, 255, 0);
  padding: 10px;
}

.about-item__info {
  display: flex;
  margin: 16px 0;
  color: rgba(30, 255, 0, 0.6);
}

.social .fa {
  color: rgb(30, 255, 0);
  margin-right: 20px;
}

.item-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: grayscale(1);
  border: 2px solid #6666;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}

.item-img:hover {
  border: 6px solid #333;
  box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.5);
}