*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-footer {
  background: linear-gradient(-45deg, black, rgb(68, 62, 62));
  color: rgba(255, 255, 255, 0.5);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: linear-gradient(-45deg, black, rgb(68, 62, 62));
  padding: 30px 0;
}

.footer-heading {
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  padding: 15px 0;
  margin-bottom: 20px;
  position: relative;
}

.footer-heading::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

.addres-wrapper {
  margin-bottom: 20px;
}

.addres-item {
  margin-bottom: 10px;
}

.addres-item a {
  color: rgba(255, 255, 255, 0.5);
}

.list {
  list-style: none;
}

.list-item {
  display: flex;
  margin-bottom: 15px;
}

.list-item h6 {
  margin-left: 10px;
  font-size: 14px;
  font-weight: normal;
}

.form {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(17, 204, 17, 0.4);
  margin-bottom: 15px;
  color: rgb(17, 204, 17);
  padding: 10px;
}
.form-input:focus {
  outline: none;
  background-color: rgba(17, 204, 17, 0.1);
}

.form-input::-webkit-input-placeholder {
  color: rgba(17, 204, 17, 0.4);
}

.form-btn {
  background-color: rgb(32, 126, 32);
  border: none;
  color: white;
  width: 80px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 3px;
}

.copyright {
  padding: 20px 0;
  background: #000;
  text-align: center;
}
