/* slider */
.slider {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
}

.slider-img {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}

.slider-img.active {
  transform: translateX(0);
  opacity: 1;
  transition: 0.5s ease-in-out;
  background-size: cover;
}

.slider-img1 {
  background: url("../../img/img1.jpg") no-repeat;
}

.slider-img2 {
  background: url("../../img/img2.jpg") no-repeat;
}

.slider-img3 {
  background: url("../../img/img3.jpg") no-repeat;
}

.slider-heading {
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: -300px;
  height: 100%;
  width: 300px;
  padding: 20px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(49, 180, 32);
  font-size: 40px;
  transition: 2s ease-in-out;
}

.active .slider-heading {
  opacity: 1;
  left: 0;
  transition: 2s ease-in-out;
}